@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-09-03, 10:24:37
    Author     : kuzmi
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-09-04, 11:04:23
    Author     : kuzmi
*/
.text-green-color {
  color: #84b82a; }

.text-purple-color {
  color: #675190; }

.text-blue-color {
  color: #2c8fbd; }

.text-pink-color {
  color: #aa2755; }

.text-dgrey-color {
  color: #585858; }

.text-lgrey-color {
  color: #7a7a7a; }

.text-white-color {
  color: #fff; }

.flex-list {
  display: flex; }

.reset-padding {
  padding: 0px; }

.global-padding {
  padding: 30px; }

.reset-margin {
  margin: 0px; }

.fa-phone {
  transform: rotate(90deg); }

.text-number {
  font-weight: bold;
  padding: 2px; }

.text-size-bold {
  font-size: 14px;
  font-weight: bold; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-09-03, 09:12:07
    Author     : kuzmi
*/
.head-web {
  background-color: #1a1a1a;
  height: 80px; }

.hidden-show {
  z-index: 10001;
  position: absolute; }

#hidden-menu {
  cursor: pointer; }

header p {
  color: #7a7a7a; }
header .menu-box {
  width: 240px;
  background-color: #1a1a1a;
  padding: 20px 0px; }
  header .menu-box h3 {
    color: #675190; }
  header .menu-box ul {
    padding: 0px;
    margin: 0px;
    line-height: 30px;
    list-style: none; }
  header .menu-box li {
    border-top: 1px solid #white; }
header .hamburger {
  background-color: #3c3c3c;
  max-width: 80px;
  height: 80px;
  padding: 0px;
  text-align: center;
  font-size: 15px;
  line-height: 80px; }
header .header-list {
  font-size: 14px;
  padding-top: 20px;
  margin-right: -20px; }
  header .header-list li {
    height: 20px; }
  header .header-list li:nth-child(2) {
    padding: 0px 25px 0px 15px;
    border-right: 1px solid #585858; }
    header .header-list li:nth-child(2) span {
      padding-left: 7px;
      font-weight: bold; }
  header .header-list li:nth-child(3) {
    padding: 0px 25px;
    border-right: 1px solid #585858; }
    header .header-list li:nth-child(3) i {
      font-size: 17px;
      padding-right: 10px; }
  header .header-list li:last-child {
    padding-left: 25px; }
    header .header-list li:last-child i {
      padding-right: 10px; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-09-03, 09:12:20
    Author     : kuzmi
*/
.footer-web {
  padding-top: 10px;
  background-color: #1a1a1a;
  color: #7a7a7a; }

footer p {
  font-size: 14px;
  margin: 0px; }
footer .row-border {
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid #4c4c4c; }
footer .footer-app-text {
  font-size: 30px;
  font-weight: bold; }
footer .footer-head {
  padding-bottom: 5px; }
footer #app-box img {
  padding-top: 5px; }
footer #app-box .app-text {
  line-height: 25px;
  margin-top: -2px; }
footer #info-box .info-row-number {
  margin-top: -5px; }
footer #info-box img:nth-child(2) {
  padding: 0 15px 0 10px; }
footer #info-box .info-nr {
  font-size: 30px;
  font-weight: bold; }
footer #info-box .info-small-text {
  font-size: 11px;
  margin-top: -5px; }
footer #client-box .client-nr-big {
  font-size: 30px;
  font-weight: bold;
  padding-left: 10px;
  margin-top: -5px; }
footer #client-box .client-text {
  font-size: 12px;
  margin-top: 5px; }
footer #client-box img {
  margin-top: -5px; }
footer #client-box .client-nr-small {
  font-size: 20px;
  font-weight: bold;
  line-height: 20px; }
footer #client-box .client-text-small {
  font-size: 11px;
  margin-top: 5px; }
footer #social-box ul {
  list-style: none; }
footer #social-box #first-list ul {
  padding-left: 0;
  padding-top: 5px; }
footer #social-box #first-list li {
  padding-right: 15px;
  font-size: 14px; }
footer #social-box #second-list li {
  padding-left: 10px; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-09-03, 09:13:38
    Author     : kuzmi
*/
body {
  background-color: black;
  font-family: "Roboto"; }

h1 {
  font-size: 50px;
  font-weight: bold; }

h2 {
  font-size: 40px;
  line-height: 35px;
  font-weight: 800; }

.main-web {
  padding-bottom: 30px;
  color: #fff; }

main .row-border {
  border-top: 1px solid #000; }
main .row-height-first {
  height: 485px; }
main .bg-img-more {
  background-image: url("../img/zyskaj_wiecej.jpg"); }
main .more-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
main .bg-img-vod {
  background-image: url("../img/vod.jpg"); }
main .row-height-second {
  height: 420px; }
main .bg-color-package {
  background-color: #675190; }
main .online-border {
  border-left: 1px solid #000; }
main .bg-img-online {
  background-image: url("../img/online.jpg");
  background-repeat: no-repeat;
  height: 295px;
  border-bottom: 5px solid #84b82a; }
main .row-height-online {
  height: 125px; }
main .bg-color-online {
  background-color: #84b82a; }
main .text-right {
  text-align: right; }
main .row-height-third {
  height: 340px; }
main .bg-color-promotion {
  background-color: #262626; }
main .bg-img-support {
  background-image: url("../img/support.jpg"); }
main .supp-border {
  border-left: 1px solid #000; }
main .bg-img-app {
  background-image: url("../img/app.jpg"); }
main #more-box {
  padding-bottom: 5px; }
  main #more-box .more-padding {
    padding-left: 15px; }
  main #more-box h1 {
    margin: 0px; }
  main #more-box .round-icon-more {
    width: 50px;
    height: 50px;
    border: 2px solid #fff6;
    border-radius: 50px;
    margin-right: 20px;
    margin-bottom: 10px; }
  main #more-box .more-mouse-icon {
    padding-top: 7px; }
  main #more-box .mouse-plus::after {
    content: '+';
    color: white;
    position: relative;
    right: 85px;
    top: 10px;
    font-size: 20px; }
  main #more-box .more-present-icon {
    padding-top: 10px;
    padding-left: 2px; }
  main #more-box .more-text {
    font-size: 50px;
    margin: 0px;
    font-weight: 300;
    line-height: 50px; }
    main #more-box .more-text .hbo-text {
      font-weight: bold; }
  main #more-box .more-text-low {
    font-size: 30px;
    margin: 0px;
    font-weight: 300; }
  main #more-box .more-text-money {
    font-size: 100px;
    font-weight: bold;
    line-height: 80px;
    margin: 0;
    margin-left: -20px;
    margin-top: 5px; }
    main #more-box .more-text-money span {
      font-size: 30px;
      margin-left: -15px; }
main #vod-box p {
  margin-bottom: 0px; }
main #vod-box .watch-text {
  color: #a2a2a2;
  font-size: 11px; }
main #vod-box .stat-text {
  text-align: center;
  border-left: 1px solid #585858; }
  main #vod-box .stat-text i {
    font-size: 20px; }
main #vod-box .vod-text {
  font-size: 25px;
  line-height: 30px;
  padding-bottom: 15px; }
main #vod-box .vod-text-low {
  line-height: 10px; }
  main #vod-box .vod-text-low span {
    padding-left: 15px; }
main #vod-box .fa-angle-right,
main #vod-box .fa-angle-left {
  font-size: 30px; }
main #package-box .round-icon {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-color: #fff;
  line-height: 90px;
  margin-top: 13px; }
main #package-box .round-round-icon {
  height: 130px;
  width: 130px;
  border-radius: 100px;
  border: 2px solid #ffffff1a; }
main #package-box .package-text {
  margin-top: -10px;
  background-color: #675190;
  font-size: 14px;
  line-height: 17px; }
  main #package-box .package-text span {
    font-weight: bold; }
main #package-box h2 {
  margin: 0px; }
main #package-box .package-head-text {
  padding-bottom: 20px; }
main #package-box .round-plus::after {
  content: '+';
  color: white;
  position: absolute;
  right: -10px;
  top: 40px;
  font-size: 35px; }
main #package-box .btn-package {
  padding: 5px 20%;
  background: #4d3c6c;
  border: 2px solid #b3a8c8;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 0px; }
main #package-box .btn-package-text {
  font-size: 20px; }
main #online-box p {
  margin-bottom: 0px; }
main #online-box .row-padding {
  padding: 30px 20px 15px 30px; }
main #online-box .stat-text {
  text-align: center;
  border-left: 1px solid #b5d47f;
  padding-left: 20px;
  margin-top: -10px; }
  main #online-box .stat-text i {
    font-size: 20px; }
main #online-box .watch-text {
  color: #fff;
  font-size: 11px; }
main #online-box .green-arrow::after {
  content: '';
  background-color: #84b82a;
  height: 12px;
  width: 12px;
  position: absolute;
  right: 50%;
  top: 118px;
  transform: rotate(45deg); }
main #online-box .round-play-icon {
  width: 68px;
  height: 68px;
  text-align: center;
  border-radius: 50px;
  border: 2px solid #ffffff80; }
  main #online-box .round-play-icon img {
    margin-top: 20px;
    margin-left: 5px; }
main #online-box .arrows-row {
  margin-top: 25%; }
  main #online-box .arrows-row > img {
    margin: 12px; }
main #online-box .online-text {
  font-size: 25px;
  line-height: 22px;
  margin-bottom: 20px; }
main #promotion-box .prmotion-text {
  margin-bottom: 12px;
  margin-top: -2px; }
main #promotion-box .promotion-list-text {
  line-height: 20px;
  margin-bottom: 10px; }
main #promotion-box ul {
  padding: 0px;
  line-height: 27px; }
main #promotion-box li {
  list-style: none; }
main #promotion-box li::before {
  content: "\25AA ";
  color: #84b82a;
  padding-right: 5px;
  font-size: 20px; }
main #promotion-box .promotion-price-text {
  line-height: 18px;
  font-size: 18px;
  font-weight: bold; }
main #promotion-box .promotion-price {
  font-size: 55px;
  font-weight: bold;
  margin-top: -27px;
  margin-left: 10px; }
  main #promotion-box .promotion-price span {
    font-size: 25px; }
main #support-box p {
  line-height: 17px;
  font-size: 14px; }
main #support-box .round-support-foto {
  height: 140px;
  width: 140px;
  border-radius: 100px;
  border: 2px solid #ffffff1a; }
main #support-box .bg-img-support-foto {
  background-image: url("../img/support_foto.jpg");
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-position: center;
  background-size: cover;
  margin-top: 19px; }
main #support-box .support-row-marg {
  margin-top: 5px; }
main #support-box .support-text-margin {
  margin-left: 20px; }
main #support-box img {
  padding-left: 15px;
  margin-top: -20px; }
main #support-box .support-text {
  padding-top: 20px; }
main #app-box h2 {
  margin-bottom: 20px; }
main #app-box p {
  line-height: 20px; }
main #app-box img:nth-child(2) {
  padding: 0 20px; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-09-03, 09:16:05
    Author     : kuzmi
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-09-03, 09:16:55
    Author     : kuzmi
*/
@media only screen and (max-width: 480px) {
  h1 {
    font-size: 40px; }

  h2 {
    font-size: 31px; }

  .text-size-bold {
    font-size: 12px; }

  .head-web {
    height: 40px; }

  header .hamburger {
    line-height: 40px;
    max-width: 40px;
    height: 40px;
    background-color: #1a1a1a; }
  header .header-list {
    display: none; }

  main .bg-img-more {
    background-position: center; }
  main #more-box .mouse-plus {
    display: none; }
  main #more-box .more-text-money {
    text-align: center;
    font-size: 70px; }
    main #more-box .more-text-money span {
      margin-left: -5px; }
  main #more-box .more-text {
    font-size: 25px; }
  main #more-box .more-text-low {
    font-size: 15px; }
  main #package-box .round-round-icon {
    display: none; }
  main #package-box .package-text {
    background-color: #fff3;
    border-radius: 20px;
    padding: 5px 0;
    margin-top: 0px; }
  main #package-box .btn-package-text {
    font-size: 14px; }
  main #vod-box .stat-text {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  main #support-box .round-support-foto {
    height: 0px;
    width: 0px; }
  main #support-box img {
    display: none; }

  footer #app-box {
    padding-bottom: 10px; }
  footer #info-box {
    padding-top: 10px;
    border-top: 1px solid #4c4c4c; }
  footer .justify-content-end {
    -ms-flex-pack: center !important;
    justify-content: center !important; }
  footer .mobile-center {
    -ms-flex-pack: center !important;
    justify-content: center !important; }
  footer .mobile-icon-center {
    display: flex;
    justify-content: center;
    -ms-flex-pack: center !important; }
  footer #social-box #first-list li {
    padding-right: 10px; }
  footer #social-box #second-list ul {
    float: none !important;
    padding: 0;
    justify-content: center; }
  footer #client-box {
    padding-top: 10px;
    padding-bottom: 20px;
    border-top: 1px solid #4c4c4c; } }
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-09-03, 09:16:46
    Author     : kuzmi
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-09-03, 09:16:32
    Author     : kuzmi
*/
@media only screen and (max-width: 992px) {
  .head-web {
    height: 40px; }

  header .hamburger {
    line-height: 40px;
    max-width: 40px;
    height: 40px;
    background-color: #1a1a1a; }
  header .header-list {
    display: none; } }
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-09-03, 09:16:23
    Author     : kuzmi
*/
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px; } }
@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 40px; }

  h2 {
    font-size: 31px; }

  .text-size-bold {
    font-size: 12px; }

  main .bg-img-more {
    background-position: center; }
  main #more-box .mouse-plus {
    display: none; }
  main #more-box .more-text-money {
    text-align: center;
    font-size: 70px; }
    main #more-box .more-text-money span {
      margin-left: -5px; }
  main #more-box .more-text {
    font-size: 25px; }
  main #more-box .more-text-low {
    font-size: 15px; }
  main #package-box .round-round-icon {
    display: none; }
  main #package-box .package-text {
    background-color: #fff3;
    border-radius: 20px;
    padding: 5px 0;
    margin-top: 0px; }
  main #package-box .btn-package-text {
    font-size: 14px; }
  main #vod-box .stat-text {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  main #support-box .round-support-foto {
    height: 0px;
    width: 0px; }
  main #support-box img {
    display: none; }

  footer #app-box {
    padding-bottom: 10px; }
  footer #info-box {
    padding-top: 10px; }
  footer .justify-content-end {
    -ms-flex-pack: center !important;
    justify-content: center !important; }
  footer .mobile-center {
    -ms-flex-pack: center !important;
    justify-content: center !important; }
  footer .mobile-icon-center {
    display: flex;
    justify-content: center;
    -ms-flex-pack: center !important; }
  footer #social-box #first-list li {
    padding-right: 10px; }
  footer #social-box #second-list ul {
    float: none !important;
    padding: 0;
    justify-content: center; }
  footer #client-box {
    padding-top: 10px;
    padding-bottom: 20px; } }

/*# sourceMappingURL=style.css.map */
